html ,body{
    min-height: 100%;
}

body , html{
    margin: 0px;
    padding: 0px;
}

.page-wrapper{
    min-height: 100%;
}


.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#040f0f;
    color: white;
    text-align: center;
    margin-top: 20px;
    height: 50px;
}